@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.header {
		@apply flex flex-row justify-between content-center p-4 border-solid border border-black bg-zinc-800 text-white sticky;
	}

	.header__input {
		@apply px-2 border-solid border-2 border-black rounded;
	}

	.card {
		@apply m-2 p-2 flex flex-col justify-center items-center rounded shadow-lg max-w-sm hover:cursor-pointer;
	}

	.card-hover-animation{
		@apply transition duration-300 ease-in-out hover:shadow-2xl;
	}

	.card__img{
		@apply object-cover w-1/2;
	}
}